.photo-grid__items {
  display: grid;
  margin: 92px auto 0;
  list-style: none;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213x);
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 1279px) { /*пришлось поправить на 1px, т.к. devtools только в этом случае отрисовывал верно*/
  .photo-grid__items {
    gap: 14px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__items {
    margin-top: 88px;
    gap: 16px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__items {
    margin-top: 64px;
    gap: 12px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
  }
}