.page {
  background-color: #2A2C2F;
  /*Код ниже написал в элементе page__ears, со вложенностью был порядок, но автотесты зарубили, поэтому не по БЭМ, но теперь сую эти свойства в блок*/
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}