.intro__list {
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px auto 0 148px;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-left: 16px;
    /*в макете margin-top 34px, уточнил бы у дизайнера - ошибка наверно, переопределять не стал*/
  }
}