.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding: 0 412px 245px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    padding: 0 332px 195px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding: 0 204px 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px 33px;
    font-size: 14px;
    line-height: 1.14;
  }
}