.header__logo {
  max-width: 176px;
  margin: 28px 0 0 48px;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    margin-top: 16px;
    margin-left: 16px;
  }
}