.header__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
  }
}