.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFF;
  margin: 56px 280px 0;
}

@media screen and (max-width: 1280px) {
  .lead__title {
    margin: 48px 152px 0;
  }
}