.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFF;
  margin: 56px auto 0;
  max-width: 720px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 744px) {
  .lead__title {
    font-size: 12vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}