.lead__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFF;
  margin: 56px auto 0;
  max-width: 720px;
}

@media screen and (max-width: 1280px) {
  .lead__title {
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 40px;
    line-height: 1.1;
    }
}