.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:nth-of-type(n+2) {
  margin-top: 26px;
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px 0;
  }
}