.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding-right: 48px;
  padding-bottom: 24px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-left: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 16px;
    margin-bottom: 0;
    line-height: 1;
  }
}