.lead__image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 64px;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 40px;
  }
}