.root {
  background-color: #E5E5E5;
  /*Альтернативные шрифты*/
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  /*Сглаживание*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Подгонка размера текста*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
