.root {
  background-color: #E5E5E5;
  /*Сглаживание*/
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  /*Подгонка размера текста*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
