.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFF;
  margin-bottom: 0;
  margin: 32px auto 0;
  max-width: 640px;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}