.cover__background {
  position: relative;
  display: block;
  text-decoration: none;
  background: url(../../../images/1280/__background.png) no-repeat;
  background-size: auto;
  color: inherit;
  z-index: 1;
}

.cover__background::after {
  content: '';
  position: absolute;
  background: #2A2C2F;
  opacity: .3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .2s ease;
}

.cover__background:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover__background {
    background-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    background-size: 100% auto;
  }
}