.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  padding-top: 245px;
  padding-bottom: 32px;
  margin: 0 auto;
  max-width: 560px;

}

@media screen and (max-width: 1280px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 228px; /*в брифе 288 ширина окна, но тогда перенос идет на предлоге, не по брифу*/
    padding-top: 33px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}