.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  padding: 245px 312px 32px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .cover__title {
    padding: 195px 232px 32px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 115px 104px 32px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 320px;
    padding: 33px 16px 16px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 1.09;
  }
}