.place {
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(76px, 1fr) 460px;
  justify-content: center;
  margin-top: 80px;
}

@media screen and (max-width: 1279px) { /*видимо на гридах всегда так на 1px придется уменьшать*/
  .place {
    column-gap: 32px;
    grid-template-columns: 440px 456px;
    grid-template-rows: minmax(76px, 1fr) 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340px 352px;
    grid-template-rows: minmax(46px, 1fr) max-content;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    gap: 32px;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: 35px 1fr 320px max-content;
    margin-top: 50px;
  }
}
  /*grid-template-areas:
  "place__title place__url-heading"
  "place__title place__link"
  "place__image place__paragraph"
  "place__image place__paragraph"; идея не сработала из-за gap*/
